*{
    font-family: 'Raleway', sans-serif;
    color: #555;
}

/* *** header *** */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%
}
.logo-wrap {
	padding: 5px 0;
    width: auto;
}
.logo-wrap img {
    height: 35px;
}
ul.main-menu {
    margin: 0;
    padding: 0;
}
ul.main-menu li {
    display: inline-block;
    float: left;
    list-style: outside none none;
}
ul.main-menu a {
    color: #555;
    font-weight: 700;
    line-height: 50px;
    margin: 0 5px;
    padding: 5px;
}
/* *** main img *** */
.bimg {
    background-attachment: fixed;
    background-image: url('agb.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px;
    margin-top: 50px;
}
.bimg-message-wrap {
    text-align: center;
    padding: 100px 0;
}
.sidebar {
    width: 250px;
}