*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.35rem;
    margin: 0;
    padding: 0;
}

/* *** TEXT *** */

html { font-size: 62.5%; } 
body { font-size: 14px; font-size: 1.4rem; } 
h1   { font-size: 24px; font-size: 2.4rem; } 
h2   { font-size: 22px; font-size: 2.2rem; } 
h3   { font-size: 20px; font-size: 2.0rem; } 
h4   { font-size: 18px; font-size: 1.8rem; } 
h5   { font-size: 16px; font-size: 1.6rem; } 
h6   { font-size: 14px; font-size: 1.4rem; }

p    {margin: 0 0 10px}

a, a:hover, a:focus {color: #76be6c; text-decoration: none}

/* *** GRID *** */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}
.row::before, .row::after, .row-form::before, .row-form::after  {
    clear: both;
    content: "";
    display: table;
}
.clean-row {
    margin-left: 0;
    margin-right: 0;
}
.xl1, .xl2, .xl3, .xl4, .xl5, .xl6, .xl7, .xl8, .xl9, .xl10, .xl11, .xl12, .xl13, .xl14, .xl15, .xl16, .xl17, .xl18, .xl19, .xl20, .xl21, .xl22, .xl23, .xl24,
.lg1, .lg2, .lg3, .lg4, .lg5, .lg6, .lg7, .lg8, .lg9, .lg10, .lg11, .lg12, .lg13, .lg14, .lg15, .lg16, .lg17, .lg18, .lg19, .lg20, .lg21, .lg22, .lg23, .lg24,
.md1, .md2, .md3, .md4, .md5, .md6, .md7, .md8, .md9, .md10, .md11, .md12, .md13, .md14, .md15, .md16, .md17, .md18, .md19, .md20, .md21, .md22, .md23, .md24,
.sm1, .sm2, .sm3, .sm4, .sm5, .sm6, .sm7, .sm8, .sm9, .sm10, .sm11, .sm12, .sm13, .sm14, .sm15, .sm16, .sm17, .sm18, .sm19, .sm20, .sm21, .sm22, .sm23, .sm24,
.xs1, .xs2, .xs3, .xs4, .xs5, .xs6, .xs7, .xs8, .xs9, .xs10, .xs11, .xs12, .xs13, .xs14, .xs15, .xs16, .xs17, .xs18, .xs19, .xs20, .xs21, .xs22, .xs23, .xs24, 
.full-col {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.clean-col {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 1200px) {

    .xl1, .xl2, .xl3, .xl4, .xl5, .xl6, .xl7, .xl8, .xl9, .xl10, .xl11, .xl12, .xl13, .xl14, .xl15, .xl16, .xl17, .xl18, .xl19, .xl20, .xl21, .xl22, .xl23, .xl24 {float: left}


    .xl1 {width: 4.16666%}
    .xl2 {width: 8.33333%}
    .xl3 {width: 12.50000%}
    .xl4 {width: 16.66666%}
    .xl5 {width: 20.83333%}
    .xl6 {width: 25.00000%}
    .xl7 {width: 29.16662%}
    .xl8 {width: 33.33328%}
    .xl9 {width: 37.49994%}
    .xl10 {width: 41.66666%}
    .xl11 {width: 45.83326%}
    .xl12 {width: 50.00000%}
    .xl13 {width: 54.16658%}
    .xl14 {width: 58.33324%}
    .xl15 {width: 62.4999%}
    .xl16 {width: 66.66656%}
    .xl17 {width: 70.83322%}
    .xl18 {width: 75.00000%}
    .xl19 {width: 79.16654%}
    .xl20 {width: 83.3332%}
    .xl21 {width: 87.49986%}
    .xl22 {width: 91.66652%}
    .xl23 {width: 95.83318%}
    .xl24 {width: 100%}

    .push-xl1 {margin-left: 4.16666%}
    .push-xl2 {margin-left: 8.33333%}
    .push-xl3 {margin-left: 12.50000%}
    .push-xl4 {margin-left: 16.66666%}
    .push-xl5 {margin-left: 20.83333%}
    .push-xl6 {margin-left: 25.00000%}
    .push-xl7 {margin-left: 29.16662%}
    .push-xl8 {margin-left: 33.33328%}
    .push-xl9 {margin-left: 37.49994%}
    .push-xl10 {margin-left: 41.66666%}
    .push-xl11 {margin-left: 45.83326%}
    .push-xl12 {margin-left: 50.00000%}
    .push-xl13 {margin-left: 54.16658%}
    .push-xl14 {margin-left: 58.33324%}
    .push-xl15 {margin-left: 62.4999%}
    .push-xl16 {margin-left: 66.66656%}
    .push-xl17 {margin-left: 70.83322%}
    .push-xl18 {margin-left: 75.00000%}
    .push-xl19 {margin-left: 79.16654%}
    .push-xl20 {margin-left: 83.3332%}
    .push-xl21 {margin-left: 87.49986%}
    .push-xl22 {margin-left: 91.66652%}
    .push-xl23 {margin-left: 95.83318%}
    .push-xl24 {margin-left: 100%}

    .auto-xl {
        float: none;
        min-height: 1px;
        overflow: auto;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;  
    }

    .xl-show {display: block}
    .xs-show, .sm-show, .md-show, .lg-show, .xl-hidden {display: none}

    .container {width: 1200px}
}

@media only screen and (max-width: 1200px) {

    .lg1, .lg2, .lg3, .lg4, .lg5, .lg6, .lg7, .lg8, .lg9, .lg10, .lg11, .lg12, .lg13, .lg14, .lg15, .lg16, .lg17, .lg18, .lg19, .lg20, .lg21, .lg22, .lg23, .lg24 {float: left}


    .lg1 {width: 4.16666%}
    .lg2 {width: 8.33333%}
    .lg3 {width: 12.50000%}
    .lg4 {width: 16.66666%}
    .lg5 {width: 20.83333%}
    .lg6 {width: 25.00000%}
    .lg7 {width: 29.16662%}
    .lg8 {width: 33.33328%}
    .lg9 {width: 37.49994%}
    .lg10 {width: 41.66666%}
    .lg11 {width: 45.83326%}
    .lg12 {width: 50.00000%}
    .lg13 {width: 54.16658%}
    .lg14 {width: 58.33324%}
    .lg15 {width: 62.4999%}
    .lg16 {width: 66.66656%}
    .lg17 {width: 70.83322%}
    .lg18 {width: 75.00000%}
    .lg19 {width: 79.16654%}
    .lg20 {width: 83.3332%}
    .lg21 {width: 87.49986%}
    .lg22 {width: 91.66652%}
    .lg23 {width: 95.83318%}
    .lg24 {width: 100%}

    .push-lg1 {margin-left: 4.16666%}
    .push-lg2 {margin-left: 8.33333%}
    .push-lg3 {margin-left: 12.50000%}
    .push-lg4 {margin-left: 16.66666%}
    .push-lg5 {margin-left: 20.83333%}
    .push-lg6 {margin-left: 25.00000%}
    .push-lg7 {margin-left: 29.16662%}
    .push-lg8 {margin-left: 33.33328%}
    .push-lg9 {margin-left: 37.49994%}
    .push-lg10 {margin-left: 41.66666%}
    .push-lg11 {margin-left: 45.83326%}
    .push-lg12 {margin-left: 50.00000%}
    .push-lg13 {margin-left: 54.16658%}
    .push-lg14 {margin-left: 58.33324%}
    .push-lg15 {margin-left: 62.4999%}
    .push-lg16 {margin-left: 66.66656%}
    .push-lg17 {margin-left: 70.83322%}
    .push-lg18 {margin-left: 75.00000%}
    .push-lg19 {margin-left: 79.16654%}
    .push-lg20 {margin-left: 83.3332%}
    .push-lg21 {margin-left: 87.49986%}
    .push-lg22 {margin-left: 91.66652%}
    .push-lg23 {margin-left: 95.83318%}
    .push-lg24 {margin-left: 100%}

    .auto-lg {
        float: none;
        min-height: 1px;
        overflow: auto;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;   
    }

    .lg-show {display: block}
    .xs-show, .sm-show, .md-show, .lg-hidden, .xl-show {display: none}

    .container {width: 1000px}
}

@media only screen and (max-width: 1000px) {

    .md1, .md2, .md3, .md4, .md5, .md6, .md7, .md8, .md9, .md10, .md11, .md12, .md13, .md14, .md15, .md16, .md17, .md18, .md19, .md20, .md21, .md22, .md23, .md24 {float: left}

    .md1 {width: 4.16666%}
    .md2 {width: 8.33333%}
    .md3 {width: 12.50000%}
    .md4 {width: 16.66666%}
    .md5 {width: 20.83333%}
    .md6 {width: 25.00000%}
    .md7 {width: 29.16662%}
    .md8 {width: 33.33328%}
    .md9 {width: 37.49994%}
    .md10 {width: 41.66666%}
    .md11 {width: 45.83326%}
    .md12 {width: 50.00000%}
    .md13 {width: 54.16658%}
    .md14 {width: 58.33324%}
    .md15 {width: 62.4999%}
    .md16 {width: 66.66656%}
    .md17 {width: 70.83322%}
    .md18 {width: 75.00000%}
    .md19 {width: 79.16654%}
    .md20 {width: 83.3332%;}
    .md21 {width: 87.49986%}
    .md22 {width: 91.66652%}
    .md23 {width: 95.83318%}
    .md24 {width: 100%}

    .push-md1 {margin-left: 4.16666%}
    .push-md2 {margin-left: 8.33333%}
    .push-md3 {margin-left: 12.50000%}
    .push-md4 {margin-left: 16.66666%}
    .push-md5 {margin-left: 20.83333%}
    .push-md6 {margin-left: 25.00000%}
    .push-md7 {margin-left: 29.16662%}
    .push-md8 {margin-left: 33.33328%}
    .push-md9 {margin-left: 37.49994%}
    .push-md10 {margin-left: 41.66666%}
    .push-md11 {margin-left: 45.83326%}
    .push-md12 {margin-left: 50.00000%}
    .push-md13 {margin-left: 54.16658%}
    .push-md14 {margin-left: 58.33324%}
    .push-md15 {margin-left: 62.4999%}
    .push-md16 {margin-left: 66.66656%}
    .push-md17 {margin-left: 70.83322%}
    .push-md18 {margin-left: 75.00000%}
    .push-md19 {margin-left: 79.16654%}
    .push-md20 {margin-left: 83.3332%}
    .push-md21 {margin-left: 87.49986%}
    .push-md22 {margin-left: 91.66652%}
    .push-md23 {margin-left: 95.83318%}
    .push-md24 {margin-left: 100%}

    .auto-md {
        float: none;
        min-height: 1px;
        overflow: auto;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;   
    }

    .md-show {display: block}
    .xs-show, .sm-show, .md-hidden, .lg-show, .xl-show {display: none}

    .container {width: 750px}
}

@media only screen and (max-width: 750px) {

    .sm1, .sm2, .sm3, .sm4, .sm5, .sm6, .sm7, .sm8, .sm9, .sm10, .sm11, .sm12, .sm13, .sm14, .sm15, .sm16, .sm17, .sm18, .sm19, .sm20, .sm21, .sm22, .sm23, .sm24 {float: left}

    .sm1 {width: 4.16666%}
    .sm2 {width: 8.33333%}
    .sm3 {width: 12.50000%}
    .sm4 {width: 16.66666%}
    .sm5 {width: 20.83333%}
    .sm6 {width: 25.00000%}
    .sm7 {width: 29.16662%}
    .sm8 {width: 33.33328%}
    .sm9 {width: 37.49994%}
    .sm10 {width: 41.66666%}
    .sm11 {width: 45.83326%}
    .sm12 {width: 50.00000%}
    .sm13 {width: 54.16658%}
    .sm14 {width: 58.33324%}
    .sm15 {width: 62.4999%}
    .sm16 {width: 66.66656%}
    .sm17 {width: 70.83322%}
    .sm18 {width: 75.00000%}
    .sm19 {width: 79.16654%}
    .sm20 {width: 83.3332%}
    .sm21 {width: 87.49986%}
    .sm22 {width: 91.66652%}
    .sm23 {width: 95.83318%}
    .sm24 {width: 100%}

    .push-sm1 {margin-left: 4.16666%}
    .push-sm2 {margin-left: 8.33333%}
    .push-sm3 {margin-left: 12.50000%}
    .push-sm4 {margin-left: 16.66666%}
    .push-sm5 {margin-left: 20.83333%}
    .push-sm6 {margin-left: 25.00000%}
    .push-sm7 {margin-left: 29.16662%}
    .push-sm8 {margin-left: 33.33328%}
    .push-sm9 {margin-left: 37.49994%}
    .push-sm10 {margin-left: 41.66666%}
    .push-sm11 {margin-left: 45.83326%}
    .push-sm12 {margin-left: 50.00000%}
    .push-sm13 {margin-left: 54.16658%}
    .push-sm14 {margin-left: 58.33324%}
    .push-sm15 {margin-left: 62.4999%}
    .push-sm16 {margin-left: 66.66656%}
    .push-sm17 {margin-left: 70.83322%}
    .push-sm18 {margin-left: 75.00000%}
    .push-sm19 {margin-left: 79.16654%}
    .push-sm20 {margin-left: 83.3332%}
    .push-sm21 {margin-left: 87.49986%}
    .push-sm22 {margin-left: 91.66652%}
    .push-sm23 {margin-left: 95.83318%}
    .push-sm24 {margin-left: 100%}

    .auto-sm {
        float: none;
        min-height: 1px;
        overflow: auto;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;    
    }

    .sm-show {display: block}
    .xs-show, .sm-hidden, .md-show, .lg-show, .xl-show {display: none}

    .container {width: 100%}
}

@media only screen and (max-width: 440px) {

    .xs1, .xs2, .xs3, .xs4, .xs5, .xs6, .xs7, .xs8, .xs9, .xs10, .xs11, .xs12, .xs13, .xs14, .xs15, .xs16, .xs17, .xs18, .xs19, .xs20, .xs21, .xs22, .xs23, .xs24 {float: left}

    .xs1 {width: 4.16666%}
    .xs2 {width: 8.33333%}
    .xs3 {width: 12.50000%}
    .xs4 {width: 16.66666%}
    .xs5 {width: 20.83333%}
    .xs6 {width: 25.00000%}
    .xs7 {width: 29.16662%}
    .xs8 {width: 33.33328%}
    .xs9 {width: 37.49994%}
    .xs10 {width: 41.66666%}
    .xs11 {width: 45.83326%}
    .xs12 {width: 50.00000%}
    .xs13 {width: 54.16658%}
    .xs14 {width: 58.33324%}
    .xs15 {width: 62.4999%}
    .xs16 {width: 66.66656%}
    .xs17 {width: 70.83322%}
    .xs18 {width: 75.00000%}
    .xs19 {width: 79.16654%}
    .xs20 {width: 83.3332%}
    .xs21 {width: 87.49986%}
    .xs22 {width: 91.66652%}
    .xs23 {width: 95.83318%}
    .xs24 {width: 100%}

    .push-xs1 {margin-left: 4.16666%}
    .push-xs2 {margin-left: 8.33333%}
    .push-xs3 {margin-left: 12.50000%}
    .push-xs4 {margin-left: 16.66666%}
    .push-xs5 {margin-left: 20.83333%}
    .push-xs6 {margin-left: 25.00000%}
    .push-xs7 {margin-left: 29.16662%}
    .push-xs8 {margin-left: 33.33328%}
    .push-xs9 {margin-left: 37.49994%}
    .push-xs10 {margin-left: 41.66666%}
    .push-xs11 {margin-left: 45.83326%}
    .push-xs12 {margin-left: 50.00000%}
    .push-xs13 {margin-left: 54.16658%}
    .push-xs14 {margin-left: 58.33324%}
    .push-xs15 {margin-left: 62.4999%}
    .push-xs16 {margin-left: 66.66656%}
    .push-xs17 {margin-left: 70.83322%}
    .push-xs18 {margin-left: 75.00000%}
    .push-xs19 {margin-left: 79.16654%}
    .push-xs20 {margin-left: 83.3332%}
    .push-xs21 {margin-left: 87.49986%}
    .push-xs22 {margin-left: 91.66652%}
    .push-xs23 {margin-left: 95.83318%}
    .push-xs24 {margin-left: 100%}

    .auto-xs {
        float: none;
        min-height: 1px;
        overflow: auto;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        width: auto;    
    }

    .xs-show {display: block}
    .xs-hidden, .sm-show, .md-show, .lg-show, .xl-show {display: none}

    .container {width: 100%}
}

.full-col {
    float: left;
    width: 100%
}

/* *** FORMS *** */

.form-control {
    background-color: transparent;
    border: 1px solid #ccc;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1.4rem;
    height: auto;
    line-height: 35px;
    padding: 5px;
    width: 100%;
}
.form-control:focus {
    background-color: transparent;
    border: 1px solid #999;
    outline: medium none;
}
.btn {
    background-color: #555;
    border: 1px solid #555;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    height: auto;
    line-height: normal;
    padding: 5px 24px;
    text-align: center;
    width: auto;
}
.btn:hover, .btn:focus {
    color: #fff;
}
.btn-xl {
    padding: 35px 50px;
}
.btn-lg {
    padding: 25px 45px;
}
.btn-md {
    padding: 15px 35px;
}
.btn-sm {
    padding: 10px 25px;
}
.btn-xs {
    padding: 3px 15px;
    font-size: 11rem;
}
label.form-control, label.form-control:focus {
    border: medium none;
}
.form-control::-moz-placeholder, .form-control::-webkit-placeholder, .form-control::-ms-placeholder, .form-control::-o-placeholder {
    color: inherit;
    opacity: 1;
}
textarea[rows]{
    height: auto
}

/* *** UTILS *** */

.push-left {
    float: left;
}
.push-right {
    float: right;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.space-top {
    margin-top: 10px;
}
.space-right {
    margin-right: 10px;
}
.space-bot {
    margin-bottom: 10px;
}
.space-left {
    margin-left: 10px;
}
no-space {
    margin: 0;
}
.pad-top {
    padding-top: 10px;
}
.pad-right {
    padding-right: 10px;
}
.pad-bot {
    padding-bottom: 10px;
}
.pad-left {
    padding-left: 10px;
}
.no-pad {
    padding: 0;
}
.show {
    display: block;
}
.show-inline {
    display: inline-block;
}
.hidden {
    display: none;
}
.table-wrap {
    display: table;
}
.table-cell {
    display: table-cell;
}
